*{
    text-decoration: none;
    margin: 0px;
    padding: 0px;
    font-family: 'Mulish';
    font-style: normal;
}

*:focus{
    outline: none;
}

a{
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    background: none;
}

header{
    position: absolute;
    top: 0px;
    left: 0px;
    height: 121px;
    min-width: 800px;
    width: 100%;
    background-color: #368d82;
    display: flex;
    justify-content: center;
    align-items: center;
}

.topLogo{
    position: absolute;
    top: 9px;
    left: 20px;
    height: 69px;
    width: 69px;
}

.topLogo img{
    height: 69px;
    width: 69px;
}

header h1{
    position: absolute;
    top: 5px;
    height: 59px;
    width: 390px;
    text-align: center;
    justify-content: center;
    font-size: 36px;
    font-weight: bold;
    color: white;
}

header h4{
    position: absolute;
    top: 50px;
    height: 29px;
    width: 390px;
    text-align: center;
    justify-content: center;
    font-weight: 400;
    font-size: 18px;
    color: white;
}

.statusBox{
    position: absolute;
    right: 23px;
    top: 22px;
    height: 46px;
    width: 202px;
    color: white;
}

.clockWidget{
    position: absolute;
    width: 162px;
    text-align: center;
    justify-content: center;
    font-weight: 400;
    font-size: 18px;
}
.timeWidget{
    position: absolute;
    width: 162px;
    text-align: center;
    justify-content: center;
    font-weight: 400;
    font-size: 14px;

}
.statusBox img{
    position: absolute;
    right: 0px;
    top: 0px;
    height: 40px;
    width: 40px;
    border-style: inset;
    border-radius: 45px;
    border-width: 1px;
    border-color: black;
}

header nav{
    position: absolute;
    bottom: 0px;
    left: 0px; 
    height: 36px;
    width: 84%;
    display: flex;
    gap: 0px 1px;
}

header nav a{
    height: 36px;
    width: 20%;
    font-weight: bold;
    font-size: 18px;
    opacity: 0.5;
}

header nav a:hover{
    opacity: 1;
}

.selected{
    opacity: 1;
    font-weight: bold;
    font-size: 20px;
}

header input{
    position: absolute;
    bottom: 6px;
    right: 3.3%;
    height: 24px;
    width: 120px;
    text-indent: 20px;
    border-radius: 20px;
    border-width: 0px;
    caret-color: #c3c3c3;

}

header input::placeholder{
    background-image: url(../images/icons/search.png);
    background-size: 18px;
    background-repeat: no-repeat;
    background-position: 2px 0px;
    text-indent: 20px;
    border-width: 0px;
}

.brudCrumbs{
    position: absolute;
    width: 34px;
    height: 1280;
    top: 117px;
    background-color: #368d82;
}
section{
    position: relative;
    min-width: 1280px;
    width: 100%;
    height: auto;
    top: 117px;
    padding: 0% 2%;
}

.info{
    position: relative;
    width: 500px;
    height: 174px;
    margin-top: 33px;
}

.info > div:nth-child(2){
    position: absolute;
    width: 270px;
    height: 104px;
    top: 17px;
    right: 0px;
}
.info > div > h5{
    position: relative;
    width: 220px;
    height: 20px;
    top: 19px;
}
.info > div:nth-child(1){
    position: absolute;
    width: 170px;
    height: 170px;
    border-radius: 50%;
    top: 2px;
    border: 2px solid black;
}
.info > div:nth-child(1) > img{
    position: absolute;
    width: 170px;
    height: 170px;
    margin-top: -135px;
    margin-left: -130px;
}
.info > div:nth-child(1){
    position: absolute;
    z-index: 1000;
    width: 27px;
    height: 27px;
    top: 136px;
    left: 128px;
    background-color: #368d82;
} 
.info > div:nth-child(1) > input{
    z-index: 10;
    width: 27px;
    height: 27px;
    top: 136px;
    left: 128px;
    opacity: 0;
}
.info > div:nth-child(1) > i{
    width: 27px;
    height: 27px;
    top: 136px;
    left: 128px;
    color: white;
}

#objectListArea{
    position: relative;
    width: 96%;
    top: 30px;
    height: 392px;
}
.upTasks{
    position: absolute;
    width: 600px;
    height: 392px;
}
.logStatus{
    position: absolute;
    width: 600px;
    height: 392px;
    right: 0px;
    float: right;
}
.headerTasks, .headerStatus{
    position: absolute;
    width: 600px;
    height: 52px;
    background-color: #368d82;
    text-align: center;
}
.upTasks .headerTasks > h4, h3{
    position: relative;
    display: inline-block;
    color: white;
}
 .logStatus .headerStatus > h4, h3{
    position: absolute;
    display: inline-block;
    color: white;
}
.upTasks .headerTasks > h3{
    position: relative;
    display: inline-block;
    margin:13px 35px;
}
.upTasks .headerTasks > h4{
    position: relative;
    margin-left: 67px;
    margin-right: 67px;
    opacity: 0.5;
} 
 .logStatus .headerStatus > h4{
    position: absolute;
    margin-left: 67px;
    margin-right: 67px;
    opacity: 0.5;
} 
.upTasks .tasks{
    position: relative;
    width: 600px;
    height: 340px;
    top:52px;
    opacity: 0.3;
    background-color: #368d82;
}
.logStatus .status{
    position: relative;
    width: 600px;
    height: 340px;
    top:52px;
    background-color: #368d82;
    opacity: 0.3;

}
.newTask{
    position: relative;
    width: 584px;
    height: 50px;
    top: 6px;
    left: 8px;
    /* box-shadow: 1px 1px 3px black; */
}
.newTask > .taskInfo {
    position: absolute;
    width: 275px;
    height: 50px;
    margin: 0 131px;
    display: flex;
    align-items: center;
    color: #BD362F;
    background-color: #ffffff;
}
Div.checkBoxDone{
    position: absolute;
    width: 131px;
    height: 50px;
    background-color: #ffffff;
    opacity: 0.2;
}
.newTask > .checkBoxDone > input{
    width: 16px;
    height: 16px;
    margin: 17px 10px;
}
.newTask .taskTime{
    position: absolute;
    width: 110px;
    height: 50px;
    left: 406px;
    background-color: #ffffff;
    opacity: 0.2;
}
.tasks .taskTime > h5{
    margin: 5px 10px;
    color: #BD362F;    
}
.tasks .userControl{
    position: absolute;
    width: 68px;
    height: 50px;
    left: 516px;
    background-color: #ffffff;
}
.tasks .userControl > a{
    color: #0088cc;
    margin-top: 3px;
}